# Análise do aproveitamento dos estudantes da Universidade do Estado do Amazonas
> Aluna: Juliany Raiol

## Introdução

Este dataset contém informações sobre os alunos do que cursaram matérias ofertadas durante o período de 2013 - 2014 na Universidade do Estado do Amazonas (UEA). Inicialmente, considerou-se que havia apenas dados referentes à matérias do ciclo básico, no entanto, após o processo de análise observou-se que há também informações de alunos veteranos.

O objetivo dessa análise é poder verificar quais matérias possuem maior índice de reprovação, bem como, descobrir se há uma ligação entre a origem do aluno e seu desempenho acadêmico.

## Considerações que deseja-se responder com esta análise

1. É possível considerar que alunos provenientes de municípios distantes da capital possuem desempenho menor que outros?
2. Qual a faixa etária dos alunos que entram na universidade por meio do SAES (antigo SIS)?
3. Há muitos alunos veteranos que ainda cursam matérias consideradas do ciclo básico?
4. A média de reprovação qual nos cursos de Análise e Desenvolvimento de Sistemas e Sistemas de Informação é menor que em cursos de Engenharia?

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
dataframe = pd.read_csv('../data/lyceum_2013_2014.csv')
dataframe.head()

,aluno,municipio_nascimento,dt_nasc,curso,nome,tipo_ingresso,ano_ingresso,unidade_fisica,serie,disciplina,nome_disciplina,nota_final,situacao_hist,perc_presenca,faltas
0,1,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTTPD108,Algoritmos e Programação,5.17,Rep Nota,0.9200,6.0
1,2,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS006,Comunicação e Expressão,6.00,Aprovado,1.0000,-1.0
2,3,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS002,Cálculo I,2.9,Rep Nota,1.0000,0.0
3,4,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS035,Empreendedorismo,8.50,Aprovado,1.0000,-1.0
4,5,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTTPD100,Introdução à Computação,7.70,Aprovado,0.8667,8.0

## Características dos atributos



| Nome da Coluna     |Classificação  |
|:------------------:|:-------------:|
| aluno              |  numérico     |
|municipio_nascimento|  nominal      |  
| dt_nasc            |  nominal      |
| curso              |  nominal      |
| nome               |  nominal      |
| tipo_ingresso      |  nominal      |
| ano_ingresso       |  numérico     |
| unidade_fisica     |  nominal      |
| serie              |  ordinais     |
| disciplina         |  nominal      |
| nome_disciplina    |  nominal      |